@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import "./footer.scss";
@import "./forms.scss";
@import "./landingpage.scss";
@import "./tile.scss";
@import "./topbar.scss";
@import "./colorpicker.scss";
@include foundation-everything;
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap");
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
  --gradient-bg: linear-gradient(to right, #3a506b, #aa748a);
  --gradient-bg-vertical: linear-gradient(to bottom, #3a506b, #aa748a);
  --gradienttext: -webkit-linear-gradient(180deg, #3d698f, #c06c84);
  --gradient2-vertical: linear-gradient(to bottom, #58819d, #b7245c);
  --gradient2-horizontal: linear-gradient(to right, #58819d, #b7245c);
  --light-green: #96c0b7;
  --medium-green: #73ab9f;
  --dark-green: #0b5563;
  --mauve: #c06c84;
  --subdued-mauve: #ab969e;
  --flat-blue: #3a506b;
  --blue-grey: #475b63;
  --violet: #462255;
  --indigo: #134074;
  --charcoal: #37505c;
  --purple-navy: #4e598c;
  --yellow: #fed766;
  --dark-yellow: #ffba0a;
  --orange: #ff7f11;
  --flat-orange: #e67f0d;
  --blue2: #3a506b;
  --burnt-orange: #d74e09;
  --orchid: #d74e09;
  --red: #d84846;
  --steel: #58819d;
  --maroon: #b7245c;
  --rose: #a2677f;
  --honey: #f5ad29;
  --wintergreen: #688d82;
  --header-pink: #aa748a;
}

body {
  margin: 0;
  padding: 0;
}

.page-container {
  position: relative;
  min-height: 92vh;
  background-color: transparent;
  max-width: 1200px;
  margin: auto;
  padding: 50px 5%;
}

.top-links {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 15px;
}

.cardlink {
  display: block;
  height: 100%;
  width: 100%;
  padding: 10px 30px;
}

.highlight {
  position: relative;
  display: inline-block;
  z-index: 0;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

.highlight:before {
  content: "";
  background-color: var(--yellow);
  width: 100%;
  height: 0.7rem;
  position: absolute;
  bottom: 0.2rem;
  z-index: -1;
  opacity: 70%;
}

.button-group {
  flex-basis: 100%;
  margin-top: 20px;
  column-gap: 10px;

  .button {
    font-size: 1rem;
    margin-bottom: 15px;
    flex: 1 0 auto;
  }
}

.button-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  .button {
    padding: 14px 0;
    flex-basis: 50%;
  }
}

.button {
  background: var(--flat-blue);
  font-size: 1rem;
  font-weight: 500;
  padding: 14px 48px;
  -webkit-transition: background 180ms linear;
  -moz-transition: background 180ms linear;
  -o-transition: background 180ms linear;
  -ms-transition: background 180ms linear;
  transition: background 180ms linear;
}

.button:hover {
  background: var(--indigo);
}

.button.cancel {
  background: var(--header-pink);
  -webkit-transition: background 180ms linear;
  -moz-transition: background 180ms linear;
  -o-transition: background 180ms linear;
  -ms-transition: background 180ms linear;
  transition: background 180ms linear;
}

.button.cancel:hover {
  background: #ab4965;
}

div.item-list-container {
  height: calc(60vh);

  h1 {
    margin-bottom: 20px;
  }
}

div.rooms-list {
  h1 {
    margin-bottom: 30px;
  }
}

.search-container {
  height: 60vh;
  overflow-y: scroll;
  padding-bottom: 70px;
}

h1.category-name {
  margin-bottom: 40px;
}

div.category-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  column-gap: 12px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

div.category-container::-webkit-scrollbar {
  display: none;
}

.edit-links {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;

  a {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 0.8rem;
  }
}

.marg0 {
  margin-bottom: 0;
}

h1 {
  font-size: 3.5rem;
  padding: 7px 0 0;
}

.item-info {
  p {
    font-size: 1.1rem;
  }
}

.show-p {
  margin-top: 20px;
}
.show-p:last-of-type {
  margin-bottom: 40px;
}

#location-icon {
  width: 13px;
  margin-bottom: -1px;
  display: inline-block;
}
.edit-location-link {
  color: var(--flat-blue);
  font-weight: 500;
  &:hover {
    color: var(--mauve);
  }
  &::before {
    content: "|";
    padding: 0 12px;
    color: #b2b2b2;
  }
}

.headline-container {
  display: flex;
  gap: 15px;
  flex-direction: row;
  align-items: baseline;
}

.icon-container {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background: var(--dark-yellow);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#edit-icon {
  width: 36px;
}
.location {
  display: flex;
  align-items: baseline;
  margin-bottom: 0;
}
.category-link {
  font-size: 1.3rem;
  font-family: "Outfit", Avenir, sans-serif;
  font-weight: 500;
  color: black;
  margin-bottom: 0px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--gradient-bg-vertical);
  z-index: 100;
  padding: 80px 5%;

  ul {
    list-style-type: none;
    margin-left: 0;
    font-size: 1.3rem;
    text-align: left;

    li {
      height: 60px;
      font-size: 1.2rem;
    }
  }
}

.menu-toggle {
  z-index: 100;
  position: fixed;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 2rem;
}

#menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: auto;
  fill: white;
}

#menu-open {
  width: 30px;
  fill: white;
}

.top-bar {
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  .top-bar-left {
    flex-basis: auto;
  }

  .top-bar-right {
    flex-basis: 70%;
  }
}

.mobile-menu-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 15%;
  text-align: right;
}

.item-image {
  width: 100%;

  img {
    width: 100%;
    border-radius: 10px;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 2.5rem;
    padding: 5px 0 0;
  }
}
